


.container-likedSong,.container-Search,.container-Albums{
    background-color: #121212;
    width: 100%;
    height: 100vh;
    padding-bottom: 170px;
 
}


.contentTop{
    display: flex;
    align-items:end;
    padding: 30px;
    height: 300px;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}

.heartBox{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 8%, rgba(0,212,255,1) 100%);
    padding: 70px;
    margin-right: 50px;
}

.heartBox>img{
    width: 30px;
}

.likedSong{
    font-size: 80px;
    color: white;
    letter-spacing: 3px;
}

.table{
    width: 100%;
    margin-top: 30px;
    text-align: center;
    color: white;
    font-weight: 300;
}


.row{
    padding: 20px 0px 20px 0px;
    /* border: 1px solid red; */
}


.likedImageSong{
    width: 40px;
}



.checkedImageLogo{
    width: 20px;
}


.hideThis{
    display: none;
}









/* ------------------SearchBox Style---------------- */


.Search-navbar{
    /* background-color: red; */
    width: 100%;
    height: 30px;
    padding: 30px;
    position: fixed;
}



.SearchBox>input{
    width: 550px;
    padding: 15px;
    padding-left: 30px;
    border-radius: 25px;
    background-color: transparent;
    outline: none;
    color: wheat;
    opacity: 0.5;
    border: 1px solid gray;
    transition: all 0.3s;
}

.SearchBox>input:focus{
    opacity: 1;
}


.breakLine{
    margin-top: 20px;
    opacity: 0.7;
    width: 1200px;
}



.Album-Songs{
    background: rgb(18,18,18);
    background: linear-gradient(90deg, rgba(18,18,18,1) 0%, rgba(235,29,253,0.9472163865546218) 50%, rgba(18,18,18,1) 100%);
    height: 400px;
    overflow: hidden;
    display: flex;
    align-items: end;
}

.cont{
    display: flex;
    align-items: end;
    /* background-color: red; */
    
}

.albumImage{
    width: 300px;
    display: flex;
    align-items: end;
}


.albumName{
    font-size: 100px;
    color:white;
    margin-left: 50px;
    margin-bottom: 50px;
}


.renderAlbumSong{
    padding: 30px;
    padding-bottom: 100px;
    /* margin-top: 30px; */
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}
 
.searchSongs{
    width: 90vw;
    /* height: 100px; */
    /* background-color: red; */
}

.searchBox{
    display: flex;
    flex-wrap: wrap;
     width: 100%;
     height: 100vh;
     
    /*padding: 50px;
    justify-content: space-between;
    padding-bottom: 150px; */
    
    /* padding-bottom: 500px; */
}